#root {
    display: flex;
    height: 100vh;
}

#left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 8px;
    width: 50%;
}

#right {
    height: 100%;
    width: 50%;
}

.rightContent {
    display: flex;
    flex-direction: column;
}

#largeMetricAndUnit{
    display: flex;
    align-items: center;
}

#largeMetric {
    font-size: 72px;
    font-weight: 600;
}

#unit {
    display: flexbox;
    margin-left: 4px;
}

.scroll {
    height: 100%;
    overflow: scroll;
    width: 100%;
}

#mapWrap {
    height: 715px;
    border-radius: 12px;
    overflow: hidden;
    width: 655px;
}

.projectRowRoot {
    border-bottom: 1px solid #fce8f4;
    display: flex;
    margin-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 16px;
}

.projectRowRoot:hover{
    cursor: pointer;
}

.projectRowImageWrap{
    border-radius: 12px;
    width: 240px;
    height: 140px;
    overflow: hidden;
    margin-right: 18px;
}

.projectRowImage{
    width: 100%;
    height: auto;
}

.projectRowInfo {
    max-width: 530px;
}

.projectRowStatus {
    box-sizing: content-box;
    border-radius: 16px;
    padding: 6px 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 13px;
}

.projectRowName{
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.projectRowDate {
    color: #9e9e9e;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 12px;
}

.projectRowDescription {
    color: #9e9e9e;
    font-weight: 300;
    letter-spacing: 2px;
    /* max-width: 220px; */
    font-size: 15px;
}

.statusBuilding {
    color: #ffa726;
    background-color: #ffe0b2;
}
