.root {
    background-image: url('../images/landing_page_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


#root-bg {
  height: 100%;
  width: 100%;
  background-image: url("../images/grid.png");
  background-repeat: true;
}

.lm-h2 {
  color: #fb4a78;
  font-size: 40px;
}

.amount {
  color: black;
  font-size: 40px;
  font-weight: bolder;
}

.currency {
    color: black;
    font-size: 30px;
    font-weight: bolder;
  }

#pocBox {
  background-color: rgba(211, 211, 211, 0.8);
  padding: 12px 12px;
}

.pocRow {
  display: flex;
  justify-content: space-between;
}

.lm-note-s {
  color: grey;
  font-weight: bold;
  font-size: 12pm
}

.lm-note-m {
    color: grey;
    font-weight: bold;
    font-size: 15px;
  }

.info-bubble {
  background-color: rgba(255, 128, 171, 0.25);
  border: 1px solid rgb(255, 64, 129);
  border-radius: 6px;
}

/* .tabs .active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgb(255, 64, 129);
  background-color: rgba(255, 128, 171, 0.4);
} */
