<!DOCTYPE html>
<html>
  <header>
    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"  media="screen,projection"/>
  </header>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Social Housing Map</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Data</a></li>
          <li><a href="#">Official Center</a></li>
        </ul>
      </div>
    </nav>
    <div id="lm_app_root"></div>
  </body>
  <script src="/javascripts/components/LMAppRoot.react.js"></script>
</html>
