doctype html
html
  head
    title= title
  body
    div(id="project-data" data=`${JSON.stringify(data)}` county=`${county}` projectID=`${projectID}`)
    include ../dist/project.html
    block content
